:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: black;
  /* margin: 10px; */
  /* padding: 10px; */
  /* display: flex;
  place-items: center; */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* margin: 100px; */
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ff6b08;
}

.content {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.25); 
  /* padding: 10px; */
  padding: 0.25rem;
}

.header_sect {
  /* background-color: pink; */
  background-color: rgba(255, 255, 255, 0.25); 
  text-align: center;
  padding: 1rem;
  max-width: 90%;
  margin: 1rem auto;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  margin: 10px 0px;
}

.header_sect p {
  font-size: 15px;
  margin: 0;
}

.user_input {
  /* background-color: aqua; */
  background-color: rgba(255, 255, 255, 0.25); 
  font-size: 25px;

  padding: 1rem;
  max-width: 90%;
  margin: 1rem auto;
  /* border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d); */
}

.user_input ul {
  list-style: none;
  padding: 10px;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.user_input li {
  /* background-color: blueviolet; */
  padding: 2.5px;
  width: 40%;
  /* width: 10rem; */
}

.user_input label{
  /* padding-right: 5px; */
  display: block;
  /* margin-bottom: 0.25rem; */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.user_input input {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid #ff6b08 1px; 
  width: 100%;
  padding: 0.5rem;
  color: #636363;
  font-size: 20px;
  cursor: text;
}

.user_input select {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid #ff6b08 1px; 
  width: 110%;
  padding: 0.5rem;
  color: #636363;
  font-size: 20px;
}

.user_input button {
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  font-weight: 600;
  padding: 2.5% 5%;
  cursor: pointer;
  transition: background-color 0.25s;
  border: solid #ff6b08 1px; 

  
  /* font-size: 15px;
  font-weight: bold; */
  /* text-transform: uppercase; */
}

button:hover {
  background-color: white;
  /* border: solid #ff6b08 3px;  */
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
  border: solid #ff6b08 2px; 

}

.results{
  background-color: rgba(255, 255, 255, 0.25); 
  /* background-color: cadetblue; */
  /* font-size: 25px; */
  padding: 1rem;
  max-width: 90%;
  margin: 1rem auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  font-size: 20px;
  font-weight: 600;
}

/* .results h2 {
  background-color: aquamarine;
} */

.results img {
  width: 50%;
  /* background-color: #ff6b08; */
}
